html, body {
  background-image: url(../img/kuch.jpg);
  background-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-header {
  background: rgba(000, 000, 000, 0.5);
  padding-bottom: 70px;
  color: rgba(255, 0, 0, 0.8);
  margin-bottom: 0;
}

.header {
  text-align: center;
  font-family: "Times", serif;
}

.container {
  width: 600px;
  margin: auto;
}

.main-header .contacts {
  float: left;
  width: 33.3%;
}

.clr {
  clear: both;
}

.linkblock ul {
  margin-top: 0px;
  list-style: none;
  text-align: center;
  background: rgba(000, 000, 000, 0.2);
}

.linkblock li {
  display: inline;
  padding-left: 30px;
}

.linkblock a {
  text-decoration: none;
  color: rgba(224, 194, 0, 1);
  font-size: 18px;
  font-weight: bold;
}

.sidebar {
  font-size: 30px;
}

.sidebar .base {
  position: absolute;
  top: -25px;
  color: rgba(255, 0, 0, 0.8);
  border-bottom: 4px rgba(255, 0, 0, 0.8) solid;
  left: 20px;
}

.sidebar .bets {
  position: absolute;
  top: 52px;
  color: rgba(224, 194, 0, 0.8);
  left: 23px;
}

.tube {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.instagram {
  position: absolute;
  bottom: 22px;
  right: 100px;
}

.vk {
  position: absolute;
  bottom: 20px;
  right: 170px;
}

#mainfooter {
  position: absolute;
  bottom: 10px;
  color: rgba(224, 194, 0, 0.9);
  font-weight: bold;
  background: rgba(000, 000, 000, 0.5);
  padding-left: 540px;
  padding-right: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.maintext {
  position: absolute;
  top: 250px;
  padding-right: -20px;
  width: 50%;
  font-size: 20px;
  color: rgba(224, 194, 0, 1);
  background: rgba(000, 000, 000, 0.5);
  padding-left: 20px;
  font-family: "tahoma"serif;
}

.linkblock a:hover {
  border-bottom: 2px rgba(255, 0, 0, 0.6) solid;
}
